@media (min-width: 1351px) {
}
@media (max-width: 1350px) {
  .mainPage__featuredProductName {
    font-size: 28px;
    padding-left: 40px;
  }
}

@media (min-width: 1201px) {
}
@media (max-width: 1200px) {
  .menu {
    font-size: 18px;
  }

  /* Testimonies Masonry */
  .testimonies {
    width: 303px;
  }

  /* Recent Proects Slider */
  .recentProjects__gallery {
    height: 250px;
  }

  .footerContainer__subwrapper {
    flex-wrap: wrap;
  }
  .fCol {
    margin-bottom: 15px;
  }
  .fCol__1,
  .fCol__2 {
    width: 50%;
    text-align: center;
  }
  .fCol__3 {
    margin: 0 auto;
  }

  /*Hayk start our-products*/
  .ourProductText__title,
  .ourProduct__price {
    font-size: 16px;
  }
  /*Hayk finish our-products*/

  /*Hayk start checkout*/

  .ckeckoutPage__tab {
    padding: 15px 30px;
    font-size: 14px;
  }

  .orderDetails__wrapper {
    margin-left: 40px;
    margin-right: 40px;
  }

  /*Hayk end checkout*/

  /*Hayk start mainPage*/

  .mainPage__featuredProductName {
    position: relative;
    width: 100%;
    text-align: center;
    top: 0;
    padding-left: 0;
    padding-bottom: 20px;
  }

  .testimonial__picture {
    display: none;
  }

  .testimonial__leftLayer {
    width: 100%;
  }

  .testimonial__slider {
    margin: 0 auto;
    text-align: center;
  }
  .testimonial__dots {
    justify-content: center;
  }

  /* Related Products Slider */
  .ourProduct--related > div {
    height: 100%;
  }
  .ourProduct__image--related img {
    height: 100%;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
  }

  /* Products Page */
  .productDetalis__detailsButtonsWrapper {
    padding-right: 0;
  }
  /* Product Details Page */
  .productDetalis__details {
    height: auto;
    padding-bottom: 10px;
  }
  .productDetalis__buttons {
    height: auto;
  }
  /* .productDetalis__details Hayk end mainPage; */

  .productDetalis__relatedProducts {
    /* display: none; */
  }
  .ourProduct {
    height: 230px;
    max-width: 470px;
  }
  .ourProduct__content {
    padding: 0 10px;
  }
  .ourProduct__image {
    max-width: 200px;
    width: 100%;
    height: 100%;
  }
  .ourProduct__item {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .productDetalis__tabContainer {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .nav__tabs {
    height: auto;
    display: flex;
  }
  .tab_content {
    justify-content: flex-start;
    padding: 0 0 31px;
  }
  .ckeckoutPage__tab {
    border: 1px solid transparent;
    font-size: 12px;
    margin-bottom: 0;
    padding: 10px 15px;
  }
  .ckeckoutPage__tab.active {
    border: 1px solid silver;
    padding-left: 25px;
  }
  .productDetalis__tabActiveContainer {
    height: 200px;
    float: none;
    overflow: auto;
    margin-bottom: 15px;
    padding-top: 0;
    padding-left: 20px;
  }
  .tabs {
    width: 300px;
    border-bottom: 0;
  }

  /* Recent Projects Page */
  .recentProjectPage__tabContainer {
    justify-content: flex-start;
    flex-direction: column;
  }
  .recentProject__tabContainer {
    padding-left: 15px;
  }
  .project {
    flex-basis: 162px;
  }

  /* Checkout Page */
  .ckeckoutPage__navTabs {
    flex-direction: column;
  }
  .ckeckoutPage__tabContainer {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
  }
  .ckeckoutPage__tab {
    width: 100%;
  }

  /* main page form section start */

  .form__container {
    flex-direction: column;
  }

  /* main page form section end */
}
@media (min-width: 992px) {
  /* Recent Proects Slider */
  .recentProjects__item:hover {
    z-index: 1;
    transform: scale(1.1);
  }
}
@media (max-width: 991px) {
  /* Recent Proects Slider */
  .recentProjects__gallery {
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .recentProjects__item {
    position: static;
  }

  .slick-initialized .slick-slide {
    /* max-width: 375px !important; */
  }
  .mainNavigation {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 3;
    /* transition: right .3s cubic-bezier(.17,.67,.83,.67), border-radius .2s cubic-bezier(.17,.67,.83,.67); */
    transition: right 0.6s cubic-bezier(0.17, 0.67, 0.83, 0.67),
      border-radius 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  }
  .menu {
    font-size: 20px;
    flex-direction: column;
    align-items: center;
  }
  .menu__item {
    margin: 3px 0;
  }
  .menu__link {
    font-size: 1em;
  }
  .homeButton {
    margin: 6px 0;
  }
  .mainNavigation--open {
    border-radius: 0;
    right: 0;
  }
  .bars {
    height: 18px;
    width: 30px;
    display: block;
    /* background-color: #d00; */
    position: relative;
    z-index: 4;
    margin-left: 20px;
    padding: 2px;
  }
  .bars__item {
    height: 2px;
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 4;
    transition: 0.3s;
  }
  .bars__item--1 {
    top: 0;
  }
  .bars__item--2 {
    top: 50%;
    transform: translateY(-50%);
  }
  .bars__item--3 {
    bottom: 0;
  }
  .bars--open .bars__item--1 {
    top: 8px;
    transform: rotate(-45deg);
  }
  .bars--open .bars__item--2 {
    width: 0;
  }
  .bars--open .bars__item--3 {
    bottom: 8px;
    transform: rotate(45deg);
  }

  /* Testimonies Masonry */
  .testimonies {
    width: 100%;
  }

  /* David */
  .tabs {
    /* width: 70%; */
  }
  .content__layer {
    display: block;
    background-color: transparent;
  }
  .content__layer .item__plus {
    display: none;
  }

  /*Hayk start our-products*/

  .ourProductContent__container {
    padding-bottom: 20px;
  }

  .ourProduct__container {
    flex-direction: column;
  }

  .ourProduct__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  /*Hayk end our-products*/

  /*Hayk start contacts*/
  .contactForm__wrapper {
    flex-direction: column;
  }

  .contactForm__group {
    width: 100%;
  }

  .contactForm__group__name {
    margin-bottom: 20px;
  }
  /*Hayk end contacts*/

  /*Hayk start checkout*/

  ul.ckeckoutPage__tabContainer {
    width: 100%;
  }

  .ckeckoutPage__tab {
    font-size: 10px;
  }

  .ckeckoutPage__navTabs {
    margin-left: 10px;
  }
  .paymentMethods__item {
    max-width: 50px;
  }
  /*Hayk end checkout*/

  /* Blog Page */
  .blogContainer {
    flex-direction: column;
  }
  .article,
  .aside {
    width: 100%;
  }
  .customWidget {
    text-align: center;
  }
  .customWidget__descr {
    font-size: 16px;
  }

  /* Products Page */
  .ourProduct__container {
    padding-top: 30px;
  }
  .ourProduct {
    max-width: 530px;
    margin: 0 auto 30px;
  }

  /* Product Detail Page */
  .productDetalis__mainContent {
    flex-direction: column;
  }
  .productDetalis__detailsButtonsWrapper {
    width: 100%;
    padding-right: 15px;
  }
  .productDetalis__images {
    width: 100%;
  }
  .productDetalis__imagesImage {
    height: auto;
    max-width: 100%;
    width: 100%;
  }
  .productDetalis__imagesGallery {
    /* justify-content: center; */
    flex-wrap: wrap;
  }
  .imagesGallery__image {
    margin: 10px 0;
  }
  .productDetalis__uploadSection {
    max-width: 100%;
  }
  .productDetalis__selections {
    max-width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .productDetails__options {
    flex-direction: column;
  }
  .productDetails__quantity {
    margin-top: 15px;
  }
  .uploadSection__textarea textarea {
    width: 100%;
  }
  .uploadSection__text {
    padding-left: 10px;
  }
  .productDetalis__buttons {
    padding-right: 0;
  }
  .productDetalis__buttonsInput {
    width: 250px;
    margin: 0 auto;
    flex-direction: column;
  }
  input.buttonsInput__first {
    margin-right: 0;
    margin-bottom: 15px;
  }

  /* Recent Projects Page */
  .recentProjectPage__navTabs {
    margin-top: 20px;
  }
  .project {
    height: 111px;
    flex-basis: 111px;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 768px) and (max-width: 991px) {
  .res-width {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .noScroll {
    overflow: hidden;
    position: relative;
  }
  .desktop-visible {
    display: none;
  }
  .mobile-visible {
    display: block;
  }
  .res-width {
    width: 100%;
  }

  .button {
    font-size: 10px;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .headerButtom {
    padding: 10px 0 10px;
  }
  .headerButtom__socialLink {
    font-size: 12px;
  }
  .headerButtom__socialIcon {
    height: 12px;
  }

  .banner {
    min-height: 470px;
    height: auto;
  }
  .banner__title {
    font-size: 30px;
    line-height: 42px;
  }
  .banner__subTitle {
    font-size: 16px;
    line-height: 30px;
  }
  .banner__text {
    font-size: 14px;
    line-height: 20px;
  }
  .banner__social {
    position: static;
    padding-top: 40px;
  }
  .banner__CallUsButton {
    margin-left: 10px;
  }

  /* Footer */
  .footerContainer {
    padding: 25px 0;
  }
  .fForm {
    width: 100%;
  }
  .fForm__desc {
    text-align: center;
  }
  .fInputGroup {
    flex-direction: column;
  }
  .fInputField {
    width: 100%;
    margin-bottom: 30px;
  }
  .fInputField__item {
    width: 100%;
  }
  .fForm__footer {
    flex-direction: column;
    margin-top: 10px;
  }
  .fSocial {
    margin-top: 20px;
  }
  .fCol__title {
    text-align: center;
  }
  .logoContainer {
    width: 140px;
    height: 65px;
    margin: 0 auto;
  }
  .logoContainer__logo {
    height: 100%;
    width: auto;
  }

  /* .headerTop__Right {
		flex-direction: column;
	}
	.userAction {
		width: 100%;
	} */
  .userAction__img {
    height: 14px;
    width: 14px;
  }
  .authentication__icon {
    display: none;
  }

  /* David */
  .nav__tabs {
    padding: 0 10px;
  }
  .tabs li {
    padding: 10px;
  }
  .productDetalis__tabActiveContainer {
    padding-left: 0;
  }

  /*Hayk start our-products*/
  .ourProduct {
    flex-direction: column;
    max-width: 250px;
    height: auto;
  }
  .ourProduct__favButton {
    height: 33px;
    width: 33px;
    line-height: 33px;
  }
  .ourProduct__favIcon {
    font-size: 16px;
  }

  .ourProduct__content {
    justify-content: flex-start;
    padding: 0 20px;
  }

  .ourProduct__container {
    justify-content: space-around;
  }

  .ourProductText__title {
    padding-top: 20px;
  }

  .ourProduct__content {
    text-align: center;
  }
  /*Hayk finish our-products*/

  /*Hayk start contacts*/

  .contactUsMain__sections {
    text-align: center;
    padding-bottom: 40px;
  }

  .contacts__wrapperMobile {
    flex-direction: column;
  }

  .contactFormContainer {
    width: 100%;
  }

  .contactUsMain__sections {
    width: 100%;
  }

  .contactTitle {
    font-size: 2em;
    padding-bottom: 15px;
  }

  .contactText {
    font-size: 1em;
  }

  .contacts__wrapper {
    padding: 30px 0px;
  }

  /*Hayk end contacts*/

  /*Hayk start checkout*/

  .ckeckoutPage {
    flex-direction: column;
    align-items: center;
  }

  .ckeckoutPage__navTabs {
    width: 100%;
  }

  ul li.ckeckoutPage__tab {
    padding: 10px;
    font-size: 14px;
  }

  .checkoutTabInputField__container {
    flex-direction: column;
  }

  .billingInputField__item {
    max-width: 100%;
  }

  .checkoutTabInputField__item {
    width: 100%;
  }

  .pb15 {
    padding-bottom: 15px;
  }

  .orderDetails__wrapper {
    width: 100%;
  }

  /*Hayk end checkout*/

  /*Hayk start mainPage*/

  .serviceItem__container {
    flex-direction: column;
    align-items: center;
  }

  .recentProjects__title {
    text-align: center;
  }

  /*Hayk end mainPage*/

  .footerContainer__subwrapper {
    flex-direction: column;
    align-items: center;
  }
  .copyright {
    font-size: 12px;
    padding: 14px 5px;
  }

  /* Products Page */
  .ourProduct__image {
    max-width: 100%;
  }
  /* Product Details Page */
  .nav__tabs {
    flex-direction: column;
  }
  .tabs {
    margin: 0 0 20px;
  }
  
  /* Recent Projects Page */
  .recentProjectPage__navTabs {
    padding-top: 30px;
  }

  /* main page form section start */

  .form__containerFormsFormWrapper {
    flex-direction: column;
  }

  .form__containerFormsForm {
    margin-left: 0;
  }

  .form__containerFormsForm {
    width: 100%;
    margin-top: 15px;
  }

  .form__containerTitle {
    line-height: normal;
    text-align: center;
    margin-top: 10px;
  }

  .form__containerFormsSecondForm {
    margin-bottom: 15px;
  }

  .form__submitButton {
    height: 50px;
    width: 150px;
    font-size: 12px;
  }

  /* main page form section end */
}

@media (max-width: 600px) {
  .testimonial__slider {
    width: 100%;
  }
  .testimonial__text {
    font-size: 14px;
  }

  .testimonial__title {
    font-size: 28px;
  }

  .testimonial__content h3 {
    font-size: 14px;
  }

  .testimonial__content {
    max-width: 320px;
  }
}
/* David 2 */
@media (max-width: 550px) {
  .articel__date__category {
    flex-direction: column;
    align-items: center;
  }

  /*Hayk start our-products*/
  .ourProduct__container {
    flex-direction: column;
    align-items: center;
  }
  /*Hayk finish our-products*/

  /*Hayk start checkout*/

  .chekmark__text {
    font-size: 12px;
  }

  /*Hayk end checkout*/
}
@media (max-width: 480px) {
  .authentication {
    flex-direction: column;
    align-items: flex-end;
  }
  .authentication__separator {
    display: none;
  }
  .authentication__login,
  .authentication__register {
    margin: 3px 0;
  }
  .headerTop__Right {
    height: 80px;
    margin-right: 50px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .userAction__card,
  .userAction__favorite {
    margin: 0 5px;
    align-items: flex-end;
  }
  .userAction__favorite {
    margin-right: 0;
  }
  .userAction__count {
    font-size: 14px;
    margin-left: 5px;
  }
  .authentication {
    order: 1;
  }
  .userAction {
    order: 2;
  }
  .bars {
    order: 3;
  }

  /* Login Modal */
  .loginModal__item {
    max-width: 260px;
    height: 350px;
    padding: 18px 20px 10px;
  }
  .loginModal__field {
    height: 30px;
  }
  .loginModal__header {
    font-size: 14px;
    padding-top: 15px;
  }
  .loginModal__input {
    padding-bottom: 0;
  }
  .loginModal__title {
    font-size: 12px;
  }
  .loginModal__forgotPassword {
    font-size: 14px;
    padding-top: 10px;
  }

  /* David */
  ul.tabs li {
    font-size: 12px;
  }
  ul.tabs {
    width: 100%;
  }

  /* David 2 */
  .article__head,
  .customWidget__head {
    font-size: 18px;
  }
}
@media (max-width: 414px) {
  /* David */
  .project {
    flex-basis: 130px;
    height: 130px;
  }
}
@media (min-width: 320px) {
}
/* @media (max-width: ) and (orientation: portrait) {}
@media (max-width: ) and (orientation: landscape) {} */
@media print {
}
