body {
  font-family: "Open Sans", sans-serif;
}
/* Header */
.headerTop {
  background-color: #1f1f22;
  padding: 15px 0;
}
.headerButtom {
  padding: 31px 0 26px;
}
.headerButtom__left {
  font-size: 20px;
}
.page__name {
  color: #fff;
  font-size: 2.2em;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 9px;
}
.page__name--strong {
  font-weight: 700;
}
.page__breadcrumbs {
  font-size: 0.7em;
  margin-top: 1px;
}
.page__link {
  color: #fff;
}
.page__link:not(:last-child)::after {
  content: " >> ";
}
.page__link:last-child {
    text-decoration: underline;
}

/* Logo Container */
.logoContainer {
}
.logoContainer__logo {
  height: 53px;
  width: 115px;
  object-fit: cover;
}

/* Home Button */
.homeButton {
  display: block;
  margin: 0 20px 0 50px;
}

/* Menu */
.menu {
  font-size: 20px;
}
.menu__item {
  margin: 0 1em;
}
.menu__link {
  font-size: 0.7em;
  color: #a5a5a7;
  text-transform: uppercase;
}
.bars {
  display: none;
}

/* User Action */
.userAction__card,
.userAction__favorite {
  margin: 0 15px;
}
.userAction__img {
  height: 18px;
  width: 20px;
}
.userAction__count {
  color: #fff;
  margin-left: 8px;
}

/* Authentication */
.authentication {
  font-size: 20px;
}
.authentication__icon {
  height: 20px;
  width: 18px;
  margin-left: 25px;
  margin-right: 9px;
}
.authentication__login,
.authentication__register {
  color: #a5a5a7;
  font-size: 0.7em;
}
.authentication__separator {
  height: 100%;
  width: 2px;
  background-color: #a5a5a7;
  margin: 0 8px;
}

/* Social */
.social__link {
  font-size: var(--socialLink);
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  display: block;
  margin-left: 10px;
  transition: 0.3s;
}
.social__link--hover:hover {
  background-color: #fff;
}
.social__link--border {
  border: 1px solid #fff;
  border-radius: 50%;
}
.social__icon {
  color: #fff;
  font-size: 0.95em;
  font-weight: normal;
}
.social__link {
  position: relative;
}
.social__icon {
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.social__link--hover:hover .social__icon {
  color: var(--pageColor);
}

/* David */
nav__tabs {
  width: 100%;
  padding: 60px 54px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.tabs {
  padding: 0;
  float: left;
  list-style: none;
  border-bottom: 1px solid #d9d9d9;
  width: 700px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.ckeckoutPage__tab {
  float: left;
  margin: 0;
  margin-bottom: -1px;
  background: #fff;
  cursor: pointer;
  padding: 16px 30px;
  border-bottom: 1px solid #d9d9d9;
  color: #7a7a7a;
  overflow: hidden;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  transition: 0.3s;
}

.ckeckoutPage__tab:hover {
  /* background-color: #ccc; */
  color: #d9d9d9;
  transition: 0.3s;
}

.ckeckoutPage__tab.active {
  border: 1px solid silver;
  border-bottom: none;
  display: block;
}
.recentProjectsContainer {
  background-color: #f4f4f4;
  padding-top: 50px;
  padding-bottom: 60px;
}
.recentProjectPage__tabContainer {
  float: none;
}
.recentProjectPage__navTabs {
  background-color: #fff;
  padding: 30px 10px;
}

.tab_container {
  border-top: none;
  clear: both;
  float: left;
  width: 100%;
  background: #fff;
  overflow: auto;
}

.tab_content {
  padding: 31px 0;
  display: none;
}

.projectContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project {
  height: 170px;
  margin: 6px;
  border: 1px solid #000;
  display: block;
  box-sizing: content-box;
  flex-basis: 165px;
  position: relative;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.project:hover .item__greyLayer {
  /* display: block; */
  opacity: 1;
}
.content__layer {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  /* display: none; */
  z-index: 1;
}
.item__greyLayer {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transition: .3s;
}
.item__plus {
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
}
.item__plus-h {
  height: 30px;
  width: 2px;
}
.item__plus-v {
  height: 2px;
  width: 30px;
}

/* David 2 */
.blog {
  width: 100%;
  background-color: #f4f4f4;
  padding-top: 50px;
  padding-bottom: 60px;
}
.article {
  width: 65%;
  background-color: #fff;
}
.aside {
  width: 30%;
  background-color: #fff;
}

.article__list {
  margin-bottom: 30px;
}
.article__img {
  width: 100%;
}
.article__img img {
  max-width: 100%;
}
.article__content {
  padding: 20px 25px 30px;
  background: #fff;
}
.article__readMore {
  margin-top: 30px;
}
.article__date,
.article__category {
  font-size: 14px;
  color: #cbc8c8;
  margin-bottom: 30px;
}
.article__category--pink {
  color: #ec008c;
}
.article__head {
  line-height: 1;
  margin-bottom: 30px;
  font-family: "sans-serif";
}
.article__descr {
  font-size: 14px;
  color: #7a7a7a;
}
/* End Article  */
/*  Aside Style Start */

.customWidget {
  width: 100%;
  background: #fff;
}
.customWidget__head {
  padding: 23px 30px;
}
.customWidget__img {
  width: 100%;
}
.customWidget__img img {
  max-width: 100%;
}
.customWidget__content {
  padding: 30px 20px;
}
.customWidget__descr {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 20px;
}
.customWidget__readMore {
  color: #000;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  transition: .3s;
}
.customWidget__readMore:hover {
  color: #00adee;
  border-bottom: 1px solid #00adee;
}

/* Hayk */

.contacts__wrapper {
  background-color: #f4f4f4;
  padding: 60px 0;
}
.contactUsMain__sections {
  width: 50%;
  padding-bottom: 46px;
}
.contactUsMain__link {
  color: #000;
}

.contactTitle {
  font-size: 2.6em;
  padding-bottom: 36px;
  font-weight: 400;
}

.contactUsMain__sections span {
  font-weight: 600;
}

.contactForm__sections {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactForm__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 0 36px;
}

.contactForm__wrapperLarge {
  width: 100%;
  padding: 0 36px;
}
.contactText {
  font-size: 1.5em;
  padding-bottom: 5px;
}
.contactFormContainer {
  width: 50%;
  min-height: 320px;
  background-color: #fff;
  padding-top: 43px;
}
.contactForm__group {
  position: relative;
  border-bottom: 1px solid #a5a5a7;
  display: inline-block;
  width: 50%;
}
.contactForm__group input {
  height: 28px;
  width: 100%;
  border: none;
}

.contactForm__group__name {
  margin-right: 22px;
}
.contactForm__subject {
  width: 100%;
  margin-top: 20px;
}
.contactForm__subject input {
  width: 100%;
}
.contactForm__message {
  width: 100%;
  height: 60px;
  padding-top: 61px;
}
.contactForm__groupTextarea {
  width: 100%;
  resize: none;
  border: none;
}

.textareaContainer__wrapper {
  width: 100%;
  margin-top: 10px;
}

.textareaContainer {
  position: relative;
  margin: 0 36px;
  border-bottom: 1px solid #a5a5a7;
  margin-top: 10px;
}

label.textareaContainer__textMessage {
  top: 48px;
}

label.textareaContainer__text {
  color: #858585;
  font-style: italic;
}

.contactFormButton__wrapper {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.contactForm__button {
  margin: 0 36px;
  justify-content: flex-start;
}
/* end */

/*login modal start*/

.loginModal {
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
.loginModal--opened {
  display: block;
}
.loginModal__wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 6;
}

.loginModal__item {
  max-width: 370px;
  width: 100%;
  height: 470px;
  background-color: #fff;
  padding: 40px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 7;
  transform: translate(-50%, -50%);
}

.loginModal__input {
  flex-direction: column;
}

.loginModal__inputStyling {
  padding-top: 20px;
}

.loginModal__button {
  width: 100%;
  padding-top: 20px;
  color: #fff;
}

.loginModal__forgotPassword {
  text-decoration: underline;
  text-align: center;
  color: #00adee;
  padding-top: 20px;
}

.loginModal__forgotPassword:hover {
  text-decoration: underline !important;
}

.loginModal__header {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  padding-top: 28px;
  line-height: 16px;
}

/*login modal end*/

/* Checkout Page */
.ckeckoutPage {
  display: flex;
  padding-top: 50px;
  padding-bottom: 40px;
}

.ckeckoutPage__navTabs {
  width: 50%;
}

.ckeckoutPage__tabContainer {
  width: 100%;
  float: none;
}

.ckeckoutPage__tab {
  font-size: 20px;
}

.ckeckoutPage__tab.active {
  color: #000;
  font-weight: 500;
}

.ckeckoutPage__tabFirst {
  padding: 16px 60px;
}

.ckeckoutPage__tabSecond {
  padding-right: 20px;
}

/*input*/

.checkoutTabInputField__item {
  flex-direction: column;
  flex-wrap: wrap;
  width: 47%;
}

.checkoutTabInputField__itemLarge {
  width: 100%;
  flex-direction: column;
}

.checkoutTabInputField__container {
  padding-bottom: 15px;
}

.billingInputField__itemLarge {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid #dadada;
  outline: none;
  font-size: 16px;
  padding-left: 20px;
}

.checkoutTab__container {
  clear: both;
  float: left;
  width: 100%;
  background: #fff;
  overflow: hidden;
  padding-right: 15px;
  padding-top: 9px;
}

.billingInputField__title {
  color: #959595;
  font-size: 14px;
  font-weight: normal;
  padding-bottom: 10px;
}
.billingInputField__item {
  max-width: 270px;
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid #dadada;
  outline: none;
  font-size: 16px;
  padding-left: 20px;
}
.billingInputField__item:focus {
  background-color: #d9d9d9;
  transition: 0.3s;
}
.billingInputField__itemLarge:focus {
  background-color: #d9d9d9;
  transition: 0.3s;
}

.checkoutTabInputField__textarea {
  border: 1px solid #dadada;
  width: 100%;
  height: 82px;
  resize: none;
}

.textarea__container {
  flex-direction: column;
}

.chekmark__text {
  color: #959595;
  font-size: 14px;
  font-weight: normal;
  padding-bottom: 10px;
  line-height: 14px;
}
/*checkmark*/

.checkmark__container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border: 1px solid #dadada;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmark__container input:checked ~ .checkmark:after {
  display: block;
}

.checkmark__container .checkmark:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 9px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkoutTabInputField__container p {
  line-height: 14px;
  flex-wrap: wrap;
}

/*checkmark*/

.lastContainer {
  padding-bottom: 0px;
}

.checkboxLastContainer {
  padding-bottom: 15px;
}

/*input*/

.orderDetails {
  max-width: 500px;
  width: 100%;
}

.orderDetails__wrapper {
  width: 50%;
  justify-content: center;
}

.orderDetails__content {
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 23px;
  border: 1px solid #d9d9d9;
}
.orderDetails__subTitle {
  font-size: 14px;
  line-height: 28px;
}

.orderDetails__subTitle span {
  font-weight: normal;
  color: #7a7a7a;
}

.orderDetails__text {
  color: #7a7a7a;
  font-size: 14px;
  line-height: 24px;
}

.orderDetails__title {
  font-size: 35px;
  padding-bottom: 33px;
  line-height: 27px;
}

.pBottom {
  padding-bottom: 6px;
}

.orderDetails__underline {
  margin-bottom: 11px;
}

.orderDetails__total {
  padding-top: 6px;
}

.orderDetails__total span {
  color: #8bc34a;
}

.paymentMethods {
  max-width: 390px;
  width: 100%;
  flex-direction: row;
  padding-top: 20px;
}

.paymentMethods__item {
  height: 50px;
  max-width: 68px;
  width: 100%;
}
.paymentMethods__img {
  height: auto;
  max-width: 100%;
  width: 100%;
  display: block;
}

/* Footer */
.fullWidth {
  width: 100%;
}
.button {
  color: #000;
  font-size: 12px;
  font-family: var(--boldFont);
  text-transform: uppercase;
  background-color: #ffeb3b;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.button--blue {
  color: #fff;
  background-color: #00adee;
}
.button--purple {
  color: #fff;
  background-color: #ec008c;
}
/* height: 16px, width: 30px */
.button__small {
  padding: 0.9em 2.55em;
}
/* height: 21px, width: 30px */
.button__medium {
  padding: 1.35em 2.45em;
}
/* height: 16px, width: 39px */
.button__big {
  padding: 1em 4.45em;
}
.button--dark {
  color: #fff;
  background-color: #1f1f22;
}
.button--black {
  color: #000;
}
input[type="submit"] {
  cursor: pointer;
}
.footerContainer {
  font-size: 16px;
  background-color: #1f1f22;
  padding: 61px 0 60px 0;
}
.fLogoContainer {
  /* margin-bottom: 26px; */
  margin-bottom: 1.625em;
}
.fCol__title {
  color: #fff;
  font-family: var(--boldFont);
  font-size: 1.25em;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.fContacts {
  margin: 11px 0px;
}
.fContacts__title,
.fContacts__link {
  color: #fff;
  text-transform: uppercase;
}
.fContacts__title {
  font-size: 1em;
}
.importantLinks__item {
  margin: 12px 0;
}
.importantLinks__link {
  color: #646465;
  font-size: 0.875em;
}
.fForm {
  width: 570px;
  /* width: 100%; */
  position: relative;
}
.fForm__desc {
  max-width: 420px;
  width: 100%;
  color: #646465;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 30px;
}
.inputField {
  position: relative;
}
.fInputField {
  width: 271px;
}
.inputField__item {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  padding: 5px;
}
.inputField__item--white {
  color: #fff;
}
.inputField__title {
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 5px;
  transition: 0.3s;
}
.fInputField__item {
  width: 271px;
}
.inputField__item:focus ~ .inputField__title {
  font-size: 10px;
  top: -15px;
  left: 0;
}
.inputField__title--filled ~ .inputField__title {
  font-size: 10px;
  top: -15px;
  left: 0;
}
.fForm__footer {
  margin-top: 30px;
}
.fSocial {
  padding-right: 12px;
}
.fSocial__link {
  margin-left: 4px;
}
/* .fSubmit {
} */
.social__intro::before {
  content: "Follow Us:";
  color: #fff;
  font-size: 14px;
  margin-right: 16px;
}
.social__link--hoverTransparent:hover {
  background-color: transparent;
}
.copyright {
  color: #646465;
  background-color: #161618;
  padding: 20px 0 22px;
}

/* Produc Details Page */
.productDetalis__wrapper {
  background-color: #f4f4f4;
}

.productDetalis__container {
  flex-direction: column;
  margin-top: 40px;
}

.productDetalis__tabs {
  padding: 60px 30px 30px;
}
.productDetails__heading {
  margin-right: 5px;
}

.bgc {
  background-color: #fff;
}

.productDetalis__images {
  width: 583px;
}

.productDetalis__imagesContainer {
  padding: 10px;
  padding-right: 13px;
}

.productDetalis__imagesGallery {
  padding-left: 10px;
  padding-right: 13px;
}

.productDetalis__detailsButtonsWrapper {
  width: 50%;
  padding-right: 29px;
  margin-top: 10px;
  padding-left: 15px;
}

.productDetalis__details {
  width: 100%;
  height: 561px;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 20px;
}

.detailsTitleDescription__title {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 10px;
}

.detailsTitleDescription__price {
  font-size: 35px;
  color: #8bc34a;
  font-weight: 600;
  padding-bottom: 8px;
}

.detailsTitleDescription__text {
  font-size: 13px; /*when the font family set to mayred font-size must be 14px;*/
  color: #7a7a7a;
  line-height: 25px;
}

.pb25 {
  padding-bottom: 25px;
}

.productDetalis__selections {
  max-width: 470px;
  width: 100%;
  height: auto;
  font-size: 13px;
  color: #7a7a7a;
  padding: 10px;
  margin-top: 32px;
  line-height: 40px;
}

.productDetalis__upload {
  flex-direction: column;
  margin-top: 18px;
  font-size: 13px;
  color: #7a7a7a;
}

.productDetalis__uploadSection {
  max-width: 360px;
  width: 100%;
  height: 60px;
  align-items: center;
  flex-direction: row;
  border: 1px solid #d9d9d9;
  border-style: dashed;
  margin-top: 14px;
  margin-bottom: 18px;
}

.uploadSection__text {
  font-size: 14px;
  padding-left: 30px;
  line-height: 40px;
}

.productDetalis__uploadSection input {
  margin-right: 10px;
  background-color: #f4f4f4;
  color: #8e8e8e;
}

.uploadSection__textarea {
  margin-top: 14px;
}

.uploadSection__textarea textarea {
  border: 1px solid #d9d9d9;
  resize: none;
  overflow: hidden;
}
.productDetalis__buttons {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 140px;
  padding-right: 29px;
}

.productDetalis__buttons p {
  font-size: 12px;
  color: #7a7a7a;
  margin-top: 14px;
}

.productDetalis__buttons span {
  font-size: 12px;
  color: #00adee;
}

.productDetalis__buttonsInput {
  flex-direction: row;
  padding-bottom: 14px;
  padding-top: 14px;
}

input.buttonsInput__first {
  background-color: #00adee;
  margin-right: 16px;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
}

input.buttonsInput__second {
  background-color: #ec008c;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
}

.productDetalis__tabContainer {
  width: 66%;
}

.productDetalis__navTabs {
  width: 100%;
  width: 100%;
  height: 61px;
  border-bottom: 1px solid #d9d9d9;
}

.productDetalis__tabActiveContainer {
  clear: both;
  float: left;
  width: 100%;
  overflow: hidden;
  padding-top: 9px;
}

.productDetalis__tabFirst {
  padding: 16px 35px;
}

.productDetalis__tabContent p {
  color: #7a7a7a;
  font-size: 13px;
  line-height: 24px;
  font-weight: 600;
}

.productDetalis__tabContentPsize {
  padding-top: 21px;
}

.productDetalis__relatedProducts {
  flex-direction: column;
  margin-bottom: 20px;
}

.productDetalis__relatedProducts h2 {
  font-size: 35px;
  padding-top: 40px;
  margin-bottom: 9px;
}

.ourProduct__wrapper {
  position: relative;
}
.relatedProducts__wrapper {
  /* flex-direction: row */
}

.ourProduct--related {
  /* width: 50%; */
}
.ourProduct__arrow {
  height: 50px;
  width: 50px;
  cursor: pointer;
  line-height: 50px;
  background-color: #fff;
  border: none;
  box-shadow: 0px 0px 10px 1px #dbdbdb;
  outline: none;
  position: absolute;
  top: -55px;
  transition: 0.3s;
}
.ourProduct__icon {
  color: #dbdbdb;
  transition: 0.3s;
}
.ourProduct__arrowNext {
  right: 0;
}
.ourProduct__arrowPrev {
  right: 60px;
}
.ourProduct__arrow:hover {
  background-color: #00adee;
  box-shadow: none;
}
.ourProduct__arrow:hover .ourProduct__icon {
  color: #fff;
}

@media (max-width: 1200px) {
}
