:root {
    /* UNIVERSAL */
        /* colors */
        --mainColor: ;
        --menuColor: ;
        --menuHoverColor: ;
        /* titles */
        --mainTitleSize: ;
        --subTitle: ;
        --buttonSmall: ;
        --buttonMedium: ;
        --buttonBig: ;
        --footerFontSize: ;
        /* font family */
        --mainFontFamily: ;
        --titleFontFamily: ;
        --container: 1170px;

        /* Social */
        --socialLink: 20px;
        /* fonts */
        --boldFont: "OpenSans-Bold";
        --semiBoldFont: "OpenSans-Semibold";
        --boldItalicFont: "OpenSans-BoldItalic";
        --italicFont: "OpenSans-Italic";
        /* --boldFont: "OpenSans-Bold"; */
        /* --boldFont: "OpenSans-Bold"; */
        
        /* --browserFontSize: ; */
        /* --bodyFontSize: ; */
        /* --fontSize-xs: calc(var(--bodyFontSize) * .75); 12px if --bodyFontSize = 16px */
        /* --fontSize-s: calc(var(--bodyFontSize) * 0.875); 14px if --bodyFontSize = 16px */
        /* --fontSize-m: calc(var(--bodyFontSize) * 1.125); 18px if --bodyFontSize = 16px */
        /* --fontSize-l: calc(var(--bodyFontSize) * 1.25); 20px if --bodyFontSize = 16px */
        /* --fontSize-xl: calc(var(--bodyFontSize) * 1.5); 24px if --bodyFontSize = 16px */
    
        /* Containers */
        --big-container: ;
        --medium-container: ;
        --small-container: ;
        
        /*-----------------*/
        --featuredProductHeight: 108px;
        --testimoniesContainerWidth: 930px;
        --featuredProductWidth: calc(100% - var(--testimoniesContainerWidth));
        --featuredItemWidth: 25%;
    }
    /* Css variables for different @media queries */
    @media (min-width: 1201px) {
        :root {
        }
    }
    @media (max-width: 1200px) {
        :root {
            --container: 970px;
        }
    }
    @media (max-width: 991px) {
        :root {
            --container: 750px;
            --featuredItemWidth: 50%;
        }
    }
    @media (max-width: 767px) {
        :root {
            --container: 100%;
        }
    }
    @media (max-width: 480px) {
        :root {
            --featuredItemWidth: 100%;
        }
    }