 .product { 
    padding: 18px 0 100px;
}
 table {
    margin: 20px 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: .35em;
  }
  thead tr {
    border-top: none;
    border-bottom: none;
}
  table th,
  table td {
    padding: .625em 0;
    text-align: center;
  }
  table td:first-child, table th:first-child {
      text-align: left;
  }
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  

  .product__img {
      margin-right: 10px;
  }
  .product__dectiption p {
      font-size: 14px;
      color: #7a7a7a;
      margin: 5px 0;
  }
  .product__close {
      text-align: right;
}
.product__total, .product__price {
    color: #8bc34a;
}


/* 
Input Type Number
*/
  .group {
    max-width: 83px;
    margin: 0 auto;
  }
  .input-number {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    position: relative;
  }
  
  .input-number input {
    display: block;
    outline: none;
    position: relative;
    max-width: 60px;
    height: 40px;
    background: #fcfeff;
    border: 1px solid #d9d9d9;
    text-align: center;
    font-weight: bold;
  }
  
  .input-number-increment,
  .input-number-decrement {
    background-color: white;
    border: 0;
    cursor: pointer;
    display: block;
    outline: none;
    position: absolute;
    text-align: center;
    right: 0;
  }
  
  .input-number-increment:hover:before {
    border-bottom-color: #0073ba;
  }
  
  .input-number-decrement:hover:before {
    border-top-color: #d9d9d9;
  }
  
  .input-number-increment {
    top: 0;
  }
  
  .input-number-decrement {
    bottom: 0;
  }
  
  .input-number-increment:before,
  .input-number-decrement:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0; 
    height: 0; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
  }
  
  .input-number-increment:before {
      border-bottom: 5px solid #0ca6f2;
  }
  
  .input-number-decrement:before {
      border-top: 5px solid #d9d9d9;
  }

  /* 
    Input type Number end css 
  */
  .product__subtotal {
      display: flex;
      justify-content: flex-end;
  }
  .product__subtotal-title {
    font-size: 35px;
    font-weight: 600;
  }
  .product__subtotal-price {
    display: inline-block;
    color: #8bc34a;
    font-weight: 600;
    font-size: 35px;
    margin: auto 15px;
  }
  .product__subtotal-btn {
      margin-left: 20px;
      cursor: pointer;
  }


  @media screen and (max-width: 768px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    .group {
        margin: 0;
        margin-right: 12px;
    }
    .input-number-increment, .input-number-decrement {
        right: -12px;
    }
    .product__quantity {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .input-number input {
        height: 30px;
    }
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 1.625em;
    }
    table td:first-child {
        display: flex;
        flex-direction: column;
    }
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
    .product-item__descr__img {
        justify-content: space-between;
    }
    .product-item__descr__img img {
        order: 2;
        margin-right: 0;
        margin-left: 12px;
    }
    .product-item__descr__img .product__dectiption{
        order: 1;
        text-align: left;
    }
    .product__subtotal {
        flex-direction: column;
    }
    .product__subtotal-title {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 10px;
      }
      .product__subtotal-price {
        font-size: 25px;
        margin: 0;
        float: right;
      }
      .product__subtotal-btn {
          margin-left: 0;
      }
  }