.loader {
  background: #000;
  background: radial-gradient(#222, #000);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}
.loader--hidden {
  animation: hideLoader 0.3s forwards;
}
.loader__inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader__lineWrap {
  animation: spin 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}
.loader__line {
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.loader__lineWrap:nth-child(1) {
  animation-delay: -50ms;
}
.loader__lineWrap:nth-child(2) {
  animation-delay: -100ms;
}
.loader__lineWrap:nth-child(3) {
  animation-delay: -150ms;
}
.loader__lineWrap:nth-child(4) {
  animation-delay: -200ms;
}
.loader__lineWrap:nth-child(5) {
  animation-delay: -250ms;
}

.loader__lineWrap:nth-child(1) .loader__line {
  border-color: hsl(0, 80%, 60%);
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader__lineWrap:nth-child(2) .loader__line {
  border-color: hsl(60, 80%, 60%);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader__lineWrap:nth-child(3) .loader__line {
  border-color: hsl(120, 80%, 60%);
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader__lineWrap:nth-child(4) .loader__line {
  border-color: hsl(180, 80%, 60%);
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader__lineWrap:nth-child(5) .loader__line {
  border-color: hsl(240, 80%, 60%);
  height: 34px;
  width: 34px;
  top: 35px;
}

@keyframes spin {
  0%,
  15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes hideLoader {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  75% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}
