.mainPage {
  background-image: linear-gradient(to right, black -50%, transparent 100%),
    url("../img/background/back.png");
  background-size: cover;
}

.banner {
  width: 100%;
  height: 515px;
  position: relative;
}

.banner__info {
  max-width: 570px;
}

.banner__CallUsButton {
  margin-left: 20px;
}

.banner__title {
  text-transform: uppercase;
  color: #fff;
  font-size: 44px;
  font-weight: normal;
  line-height: 54px;
  padding-bottom: 7px;
}

.banner__subTitle {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  line-height: 42px;
}

.banner__text {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 21px;
}

.banner__social {
  position: absolute;
  bottom: 36px;
  right: 0;
}

.mainPage__featuredProductName {
  font-size: 33px;
  padding-top: 20px;
}

.mainPage__featuredProductName p {
  margin: 0;
  padding: 0;
}

.mainPage__featuredProductName span {
  font-weight: 700;
}

/* services start */

.serviceItem__wrapper {
  max-width: 270px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.serviceItem__containerWrapper {
  position: relative;
  margin-top: 30px;
}

.serviceItem__container {
  position: relative;
  flex-wrap: wrap;
}

.serviceItem {
  justify-content: flex-end;
  width: 270px;
  height: 350px;
  opacity: 0;
}

.serviceShareLike {
  padding-top: 40px;
  padding-bottom: 30px;
  width: 80px;
  margin: 0 auto;
}

.service__title {
  text-align: center;
  position: relative;
  padding-top: 30px;
  padding-bottom: 35px;
  font-size: 20px;
  text-transform: uppercase;
}

.service__title p {
  position: relative;
  display: inline-block;
}

.service__title p::after {
  content: "";
  height: 1px;
  width: 0;
  display: block;
  background-color: currentColor;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
}

.service__title span {
  font-weight: 900;
}

.servicesItem__background {
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.4);
  position: relative;
}

.servicesItem__background:hover .serviceItem {
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: 0.3s;
}

.servicesItem__background:hover ~ .service__title p::after {
  width: 100%;
}

.serviceShareLike__icon {
  color: #fff;
  font-size: 20px;
}

.serviceItem p {
  font-size: 20px;
  color: #fff;
}

/* services end */

/* testimonial start */

.testimonialContainer__wrapper {
  position: relative;
  height: 425px;
  width: 100%;
}
.testimonial__leftLayer {
  height: 100%;
  width: var(--testimoniesContainerWidth);
  /* background-color: #f4f4f4; */
  background-color: #ec008c;
  position: absolute;
  top: 0;
  left: 0;
}

.testimonial__slider {
  width: 500px;
}
.testimonial__dots li {
  height: 12px;
  width: 12px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 8px;
  position: relative;
}
.testimonial__dots button {
  height: 8px;
  width: 8px;
  font-size: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}
.testimonial__dots li.slick-active button {
  background-color: #fff;
}
.testimonial__content {
  max-width: 485px;
  position: relative;
  padding-bottom: 13px;
}

.testimonial__title {
  color: #fff;
  padding-bottom: 21px;
  font-size: 35px;
}

.testimonial__picture {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin-top: 7px;
}

.testimonial__text {
  /* color: #7a7a7a; */
  color: #fff;
  line-height: 28px;
  font-size: 20px;
  padding-bottom: 30px;
}

.testimonial__content h3 {
  /* color: #ec008c; */
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}

.testimonial__switcher {
  width: 72px;
  height: 12px;
}

/* testimonial end */

/* slider start */
.recentProjects__container {
  /* padding-bottom: 60px; */
}
.recentProjects__gallery {
  height: 300px;
  /* margin-bottom: 40px; */
  position: relative;
}
.recentProjects__title {
  font-weight: 400;
  text-align: right;
  margin: 53px 0 40px;
}
.recentProjects__title--bold {
  font-weight: 600;
}
.recentProjects__item {
  height: 100%;
  width: var(--featuredItemWidth);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  transition: .3s;
}
.recentProjects__item img {
  height: 100%;
  max-width: 100%;
  width: 100%;
}
.recentProjects__item1 {
  /* background-image: url("../img/homepage/recent_projects/1.png"); */
  left: 0;
}
.recentProjects__item2 {
  /* background-image: url("../img/homepage/recent_projects/2.png"); */
  left: var(--featuredItemWidth);
}
.recentProjects__item3 {
  /* background-image: url("../img/homepage/recent_projects/3.png"); */
  left: calc(var(--featuredItemWidth) * 2)
}
.recentProjects__item4 {
  /* background-image: url("../img/homepage/recent_projects/4.png"); */
  right: 0;
}
.recentProjects__bottom {
  height: 210px;
  padding-top: 40px;
  text-align: center;
  position: relative;
}
.recentProjects__viewAll {
  text-align: center;
  margin-top: 20px;
  position: relative;
  z-index: 2;
  /* margin-bottom: 40px; */
}
.recentProjects__bottomImg {
  height: 100%;
  background-image: url("../img/homepage/recent_projects/5.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.recentProjects__brownLine {
  height: 25px;
  background-color: rgba(0, 0, 0, .2);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
/* slider end */

/* form section start */

.form__containerWrapper {
  background-color: #f4f4f4;
}

.form__container {
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 30px;
}

.form__containerFormsFormWrapper {
  flex-direction: row;
  margin-top: 15px;
}

.form__containerForms {
  max-width: 870px;
  flex-direction: column;
}

.form__containerFormsForm {
  width: 270px;
  position: relative;
  margin-left: 30px;
}

.form__containerFormsSecondForm {
  position: relative;
}

.form__containerFormsFormInput {
  background-color: #fff;
  font-size: 14px;
}

.form__containerFormsSecondForm {
  width: 100%;
  margin-right: 30px;
}

.ml0 {
  margin-left: 0px;
}

.form__containerTitle {
  line-height: 69px;
}



/* form section end */
