body {
  background-color: rgb(244, 244, 244);
}

.ourProduct__image {
  max-width: 250px;
  width: 100%;
}

.ourProduct__item {
  width: 100%;
}

.ourProduct__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 20px;
}

.ourProduct {
  max-width: 570px;
  width: 100%;
  height: 250px;
  display: flex;
  background-color: #fff;
  font-size: 20px;
  margin: 30px 0;
}

.ourProduct__content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px 0 30px;
}

.ourProductContent__container {
  max-width: 250px;
}

.ourProductText__title {
  text-transform: uppercase;
  padding-bottom: 14px;
  font-size: 20px;
}

.ourProductText__text {
  font-size: 14px;
  color: #7a7a7a;
}

.ourProduct__price {
  text-transform: uppercase;
  color: #8bc34a;
  font-size: 20px;
  font-family: var(--semiboldfont);
  padding: 26px 0 20px 0;
}

.ourProduct__favButton {
  width: 40px;
  height: 40px;
  color: #ec008c;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ec008c;
}

.ourProduct__favButton:hover .ourProduct__favIcon {
  color: #fff;
}
.ourProduct__favButton:hover {
  background-color: #ec008c;
  transition: 0.3s;
}

/*Testimonial style start*/

.testimoniesContainer__wrapper {
  width: 100%;
  background-color: #fff;
  padding: 20px 0;
}

.testimoniesContainer__title {
  font-size: 25px;
}

.testimoniesContainer {
  flex-direction: column;
  flex-wrap: nowrap;
}

.testimonial__slider {
  width: 500px;
}
.testimonies__Title {
  color: #ec008c;
  line-height: 2;
  font-size: 17px;
}

.testimonies__Text {
  color: #7a7a7a;
  line-height: 2;
  font-size: 14px;
  padding-top: 13px;
}

.testimonies {
  width: 370px;
  border: 1px solid #d9d9d9;
  margin-bottom: 30px;
  padding: 20px;
  display: flex;
  align-content: center;
  flex-direction: column;
}
